:root {
  background-color: rgb(30,41,59);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

img
{
background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png');
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.full-height {
  height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply h-6 text-white md:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
  }
  .btn {
    @apply h-7 hover:scale-125 cursor-pointer transition-all duration-150 ease-out;
  }
}

@keyframes heart-anim {
  0% {
    opacity: 0;
    transform: scale(0.8);
    color: #844fff;
  }
  50% {
    opacity: 1;
    transform: scale(60);
    color: #d92b5c;
  }
  100% {
    opacity: 0;
    transform: scale(0.8) translateY(-30px);
    color: #ff4f78;
  }
}

.animate-heart {
  animation-name: heart-anim;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.heart-icon {
  opacity: 0;
  pointer-events: none;
}
